$ofn-web-cookies-banner-background-color: #fff !default;
$ofn-web-cookies-banner-button-background-color: #000 !default;
$ofn-web-cookies-banner-text-color: #000 !default;
$ofn-web-cookies-policy-modal-background-color: #fff !default;
$ofn-web-cookies-policy-modal-border-bottom-color: #fff !default;
